# Ignore everything
*
# Don't ignore subdirectories
!*/
# Don't ignore special files
!*.md
!*.rst
!LICENSE
# Ignore RPM directories
*/rpm
# Don't ignore source files, etc
!*.gitignore
!*.cc
!*.h
!*.py
# Don't ignore build files
!BuildFile.xml
# ignore __init__.py files
__init__.py
!*.js
!*.jsp
!*.css
*.#*
CosmicEndpoint/test/CosmicPlot.cc
CosmicEndpoint/test/checkjobs.py
CosmicEndpoint/test/getLeaves.C
CosmicEndpoint/test/testing.C
